.wrapper {
    margin-top: 50px;
    margin-left: 50px;
}

.selectArea {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:200px;
    height: 40px;
    border: 2px solid slategrey;
    font-size: 24px;
    padding: 0 20px;
}

.selectArrowDown {
    width: 15px;
    height: 15px;
}

.selectArrowUp {
    width: 15px;
    height: 15px;
    transform: rotate(180deg);
}

.selectOptions {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.selectItem {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 24px;
    padding: 0 20px;
}

.selectItem:hover {
    background-color: #EAECEE;
}